node_modules
**/node_modules
.next
dist
.turbo
.git
.github
*.log
docker.compose.yml
.env
load-tests/
postman/
.postman/
skill/
test.http
bak.tsconfig.json
prettier.config.js
README.md
TODO.md
.prettierignore
